body {
    background-color: #1E252B;
}
.container {
    max-width: 1254px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* scrol */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1E252B;
}
::-webkit-scrollbar-thumb {
    background-color: #ff7d46;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #FF6E30;
}

/* nav */

.nav-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 58px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 193px;
    flex-wrap: wrap;
}
.header-logo-wrap {
    height: 38px;
    display: flex;
    align-items: center;
    gap: 21px;
}
.nav-second-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
    flex-wrap: wrap;
}
.nav-third-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
    flex-wrap: wrap;
}

.first-list-item {
    color: #FFFFFFE5;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.second-list-item {
    color: #FFFFFF8C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.second-list-item:hover {
    color: #ff7d46;
    transition: 0.5s;
}
.third-list-item {
    color: #FFFFFF8C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
}
.nav-btn-active {
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    background: #FF6E30;

    color: #FFFFFFE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.nav-btn:hover {
    transition: 2s;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    background-color: #FF6E30;
    color: #FFFFFFE5;
}
.nav-btn-active:hover {
    transition: 0.5s;
    background-color: #1E252B;
    color: #FF6E30;
    outline: 2px solid #FF6E30;
}
.second-list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: inherit;
}
.second-list-item-link svg {
    stroke: white;
}
.second-list-item-link:hover svg {
    transition: 0.5s;
    stroke: #ff7d46;
}

/* hero */

.hero {
    background-image: url(./image/hero.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 58px;
}

.hero-list {
    max-width: 600px;
    width: 100%;
}
.hero-title {
    color: #FFFFFFE5;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 70px */
    margin-bottom: 30px;
    margin-top: 46px;
}
.hero-title-span {
    color: #FF6E30;
}
.hero-desc {
    color: #FFFFFF8C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 60px;
}
.hero-list-item-input {
    max-width: 498px;
    height: 64px;
    padding: 8px 11px 8px 11px;
    background-color: #283036;
    outline: 1.5px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    text-align: center;
    margin-bottom: 110px;
}
.hero-list-item-input::before {
    content: "";
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./image/search.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.hero-input {
    border: none;
    background-color: #283036;
    flex-grow: 4;
    color: #FFFFFF61;
}
.hero-input:focus-visible {
    outline: none;
    color: #c3c3c3;
}
.hero-btn {
    padding: 12px 36px 12px 36px;
    border-radius: 8px;
    background: #FF6E30;
    flex-grow: 2;

    color: #FFFFFFE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero-btn:hover {
    transition: 0.5s;
    background-color: #283036;
    color: #FF6E30;
    outline: 2px solid #FF6E30;
}
.hero-list-item {
    display: flex;
    gap: 30px;
}
.hero-svg svg {
    fill: white;
}
.hero-svg:hover svg {
    transition: 0.5s;
    fill: #FF6E30;
}

/* popular */

.popular {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.popular-title {
    color: #FFFFFFE5;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
    padding-bottom: 25px;
}
.popular-desc {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    max-width: 427px;
    width: 100%;
    margin: 0 auto;
}
.popular-list {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 23px;
    text-align: left;
    padding-top: 100px;
}
.popular-list-item {
    max-width: 32%;
    width: 100%;
    height: 294px;
    padding: 33px 33px 33px 33px;
    margin-bottom: 100px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top right;
}
.popular-list-item:hover {
    transition: 1s;
    border-radius: 15px;
    background-color: rgba(40, 48, 54, 0.60);
    margin-bottom: 20px;
    margin-top: -20px;
    background-image: url(./image/ellipseorange.svg);
}
.popular-list-item-wrap {
    display: flex;
    align-items: center;
    gap: 30px;
}
.popular-item-title {
    color: #FFFFFFE5;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.popular-item-title-desc {
    color: rgba(255, 165, 55, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.popular-item-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding-top: 30px;
    padding-bottom: 30px;
}
.popular-list-item-wrap-second {
    display: flex;
    align-items: center;
    gap: 12px;
}
.popular-list-item-btn {
    padding: 9px 35px 9px 35px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: auto;
    border-radius: 8px;
    background: #1E252B;
}
.popular-list-item-btn:hover {
    transition: 1s;
    border-radius: 8px;
    color: #FFFFFFE5;
    background-color: #FF6E30;
}
.popular-btn {
    padding: 17px 38px 17px 38px;
    border-radius: 8px;
    outline: 1px solid rgba(255, 255, 255, 0.10);
    background: #1E252B;

    color: #FF6E30;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.popular-btn:hover {
    transition: 2s;
    background-color: #FF6E30;
    color: #FFFFFFE5;
    outline: #FF6E30;
}

.hart {
    border-radius: 8px;
    background-color: #1E252B;
    padding: 7px;
    display: inline-block;
}
.hart svg {
    fill: grey;
    cursor: pointer;
} 
.hart input:checked + svg {
    fill: #FD3B41;
}
.hart input:hover + svg {
    transition: 0.5s;
    fill: #FF6E30;
}
.hart input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* Trusted */

.trusted-wrap {
    max-width: 1224px;
    width: 100%;
    height: 253px;
    padding: 55px 83px 55px 83px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(44, 53, 61, 0.20);

    background-image: url(./image/ellipsered.svg);
    background-repeat: no-repeat;
}
.trusted-tile {
    text-align: center;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}
.trusted-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* tools */

.tools-wrap {
    display: flex;
    gap: 197px;
    padding-top: 200px;
    padding-bottom: 100px;
}
.tools-list-first {
    max-width: 427px;
    width: 100%;
}
.tools-title {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
}
.tools-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    margin-top: 30px;
    margin-bottom: 60px;
}
.tools-btn {
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    background: #FF6E30;

    color: #FFFFFFE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tools-btn:hover {
    transition: 1s;
    color: #FF6E30;
    background-color: #1E252B;
    outline: 2px solid #FF6E30;
}
.tools-list-second {
    max-width: 600px;
    width: 100%;
    height: 638px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.tools-list-item {
    max-width: 288px;
    width: 100%;
    height: 284px;
    padding: 28px 21px 28px 21px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom: 50px;
}
.tools-list-item:hover {
    transition: 1s;
    border-radius: 15px;
    background-color: rgba(40, 48, 54, 0.60);
    margin-bottom: 20px;
    margin-top: -20px;
    background-image: url(./image/ellipseorange.svg);
}
.tools-list-item-wrap-first {
    display: flex;
    gap: 30px;
}
.tools-list-item-title {
    color: rgba(255, 255, 255, 0.78);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tools-list-item-title-desc {
    color: rgba(255, 165, 55, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.tools-list-item-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    padding-top: 30px;
    padding-bottom: 30px;
}
.tools-list-item-wrap-second {
    display: flex;
    align-items: center;
    gap: 12px;
}
.tools-list-item-btn {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 9px 35px 9px 35px;
    border-radius: 8px;
    margin-left: auto;
}
.tools-list-item-btn:hover {
    transition: 1s;
    color: #FFFFFFE5;
    background-color: #FF6E30;
}

/* team */

.team {
    text-align: center
}
.team-warp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding-bottom: 80px;
    flex-wrap: wrap;
}
.team-desc-wrap {
    max-width: 393px;
    width: 100%;
    position: relative;
}
.team-img-second {
    position: absolute;
    left: -50px;
    top: -50px;
}
.team-desc {
    color: rgba(255, 255, 255, 0.78);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    letter-spacing: 0.21px;
}
.btn-team {
    background-color: #1E252B;
}
.btn-team svg {
    stroke: gray;
}
.btn-team:hover svg {
    transition: 0.5s;
    stroke: #FF6E30;
}

/* contributor */

.contributor {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 240px;
}
.contributor-title {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
}
.contributor-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    max-width: 427px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 100px;
}
.contributor-input-wrap {
    margin: 0 auto;
    width: 549px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: #283036;
    padding: 8px 12px 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contributor-input {
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
    background: #283036;
    border: none;
}
.contributor-input:focus-visible {
    outline: none;
    color: #c3c3c3;
}
.contributor-btn {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 12px 36px 12px 36px;
    border-radius: 8px;
    background: #FF6E30;
}
.contributor-btn:hover {
    color: #FF6E30;
    background-color: #283036;
    outline: 2px solid #FF6E30;
}

/* footer */

.footer-wrap {
    padding-top: 70px;
    padding-bottom: 98px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-list {
    display: flex;
    justify-content: space-between;
}
.footer-list-item-first {
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 100px;
}
.footer-list-item {
    max-width: 197px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-logo-wrap {
    height: 38px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.footer-logo {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-desc-first {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17px;
    padding-bottom: 11px;
}
.footer-desc {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}
.footer-title {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}
.footer-link {
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-link:hover {
    transition: 0.5s;
    color: #ff7d46;
}